html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #E6ADC3;
  overflow: hidden;
}

.stage{
  position: relative;
  width: 100vw;
  height: 100vh;
  cursor: none;
}

/* ХЛІБ */
#bread{
  position: absolute;
  width: 80px;      /* ← чіткий розмір */
  height: auto;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
}

/* НІЖ */
#knife{
  position: absolute;
  width: 40px;      /* ← точно такий самий розмір */
  height: auto;
  transform: translate(-20%, -50%) rotate(-20deg);
  pointer-events: none;
  user-select: none;
}
